span.price-tax
  display: none
#common-home
  #content
    h3
      display: block
      margin: 40px
      text-align: center
      font-size: 1.7rem
      color: $e

  .product-layout

    .product-thumb
      margin: 0 0 35px 0
      img
        width: 100%
      .caption
        h4
          font-size: 1.1rem
          text-align: center
          color: $e
          a
            color: $e
            text-align: center
        p
          display: none
          &.price
            display: block
            text-align: center
            color: $t
            margin: 10px 0
          span.price-tax
            display: none
          span.price-new
            color: $t
          span.price-old
            color: $w
            text-decoration: line-through
      .button-group
        text-align: center
        button
          border: none
          background: none
          margin: 0 auto